@import '@styles/base';

.loginContainer {
  @include directionX;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .error {
    font-size: 12px;
    color: $color-light-red;
  }

  .errorLogin {
    font-size: 15px;
    color: $color-white;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $color-dark-red;
  }

  .card {
    @include apply-at-xs-size {
      width: 95%;
      background-color: $color-white;
      border-radius: 20px;
      position: relative;
    }

    @include apply-at-xl-size {
      width: 30%;
    }

    .title {
      padding-top: 30px;
      font-size: 28px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      letter-spacing: 2px;

    }

    .form {
      padding-top: 20px;
      form {
        .email {
          @include directionY;
          padding-left: 20px;
          label {
            font-weight: 600;
            font-size: 16px;
          }
          input {
            width: calc(100% - 30px);
            height: 40px;
            border-radius: 5px;
            border: 0.5px solid $color-dark-blue;
            outline: none;
            padding-left: 3%;
            color: $color-tangerin;
            font-size: 14px;
            font-weight: 400;
          }
          input:focus {
            border: 2px solid $color-tangerin;
          }
        }
        .password {
          @include directionY;
          padding-left: 20px;
          padding-top: 20px;
          label {
            font-weight: 600;
            font-size: 16px;
          }
          input {
            width: calc(100% - 30px);
            height: 40px;
            border-radius: 5px;
            border: 0.5px solid $color-dark-blue;
            outline: none;
            padding-left: 3%;
            color: $color-tangerin;
          }
          input:focus {
            border: 2px solid $color-tangerin;
          }
        }
        .forgotPassword {
          @include directionX;
          justify-content: end;
          padding-right: 11%;
          padding-top: 20px;
          a {
            text-decoration: none;
            color: $color-black;
            font-size: 14px;
          }
        }
        .buttonContainer {
          @include directionX;
          justify-content: center;
          padding-top: 20px;
          padding-bottom: 20px;

          button {
            width: calc(100% - 30px);
            height: 45px;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: $color-tangerin;
            color: $color-white;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
          }

          button:hover {
            filter: brightness(120%);
          }

          a {
            text-decoration: none;
            color: $color-tangerin;
            font-size: 14px;
          }
        }
      }
    }
    
  }
}