@import '@styles/base';

.questionContainer {
    border-radius: 10px;
    background-color: $color-white;
    padding: 12px;
    @include directionX;
    gap: 10px;

    .imageContainer {
        width: 20%;
        height: 56px;
        border-radius: 20px;
        img {
            border-radius: 4px;
            width: 100%;
            height: 100%;
        }
    }

    .questionData {
        width: 70%;

       .questionTitle {
            color: $color-black;
            font-weight: 500;

       } 

       .tagContainer {
        padding-top: 10px;
        @include directionX;
        gap: 5px;
        .tag {
            background-color: $color-grey;
            border-radius: 20px;
            padding: 2px;
            width: 70px;
            text-align: center;
            font-size: 12px;
            color: $color-white;
        }
       }

       .creatorContainer {
            padding-top: 10px;
            @include directionX;
            align-items: center;

            .profile {
                width: 20%;
                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 100%;
                }
            }
            .username {
                font-weight: 600;
                font-size: 14px;
                color: $color-grey;
            }
       }

       .responseContainer {
        @include directionX;
        gap: 20px;
        p{
            color: $color-grey;
            font-size: 12px;
            font-weight: 500;
        }
       }
    }
}